:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */

body{
    max-width: 1100px;
    margin: 20px auto;
}

h1{
    font-size: 100px;
    font-weight: 600;
    color: var(--color-heading);
}

p{
    font-size: 14px;
    line-height: 15px;
    color: var(--color-body);
    margin-top: 30px;
}

button{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: var(--color-bg-button);
    background-color: var(--color-bg-button);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: 30px;
}

#textbutton{
    color: var(--color-text-button);
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.col_1, .col_2{
     flex-basis: 50%; 
}

.col_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
    align-items: end;
}

img{
    border-radius: 20px;
}

#img1{
    grid-column: 2;
    grid-row: 1;
}

#img2{
    grid-column: 1;
    grid-row: 2;
}

#img3{
    grid-column: 2;
    grid-row: 2 / span 2;
}

#img4{
    grid-column: 3;
    grid-row: 2;
}

#img5{
    grid-column: 1;
    grid-row: 3;
}

#img6{
    grid-column: 3;
    grid-row: 3;
}

#img7{
    grid-column: 2;
    grid-row: 4;
}